################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

**/bin/
**/obj/
/.vs
/WebApi/Obligatorio_P3/WebAPI/bin/
/WebApi/Obligatorio_P3/WebAPI/obj/
/WebApi/Obligatorio_P3/WebAPI/bin
/WebApi/Obligatorio_P3/WebAPI/obj
/WebApi/Obligatorio_P3/WebAPI/bin/Debug/net7.0
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0/WebAPI.assets.cache
/WebApi/Obligatorio_P3/WebAPI/obj/project.assets.json
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0/WebAPI.csproj.AssemblyReference.cache
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0/WebAPI.csproj.AssemblyReference.cache
/WebApi/Obligatorio_P3/WebAPI/obj/WebAPI.csproj.nuget.g.props
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0/WebAPI.csproj.AssemblyReference.cache
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0/WebAPI.csproj.AssemblyReference.cache
/WebApi/Obligatorio_P3/WebAPI/obj/WebAPI.csproj.nuget.g.targets
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0/WebAPI.csproj.AssemblyReference.cache
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0/WebAPI.csproj.AssemblyReference.cache
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0/WebAPI.assets.cache
/WebApi/Obligatorio_P3/WebAPI/obj/project.nuget.cache
/WebApi/Obligatorio_P3/WebAPI/obj/project.assets.json
/WebApi/Obligatorio_P3/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
/WebApi/Obligatorio_P3/WebAPI/obj/WebAPI.csproj.nuget.g.props
/WebApi/Obligatorio_P3/WebAPI/obj/WebAPI.csproj.nuget.g.targets
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/WebApi/Obligatorio_P3/WebAPI/obj/Release/net7.0/WebAPI.csproj.AssemblyReference.cache
/WebApi/Obligatorio_P3/WebAPI/obj/Release/net7.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/WebApi/Obligatorio_P3/WebAPI/appsettings.json
