################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApi/Obligatorio_P3/WebAPI/bin/Debug/net7.0
/WebApi/Obligatorio_P3/WebAPI/obj/Debug/net7.0
/WebApi/Obligatorio_P3/WebAPI/obj/Release/net7.0/WebAPI.assets.cache
