/Obligatorio_P3/obj/
/LogicaDeNegocio/obj/
/.vs
/Obligatorio_P3/bin/
/LogicaDeNegocio/bin/
/Obligatorio_P3/bin/Debug
/Obligatorio_P3/WebApp/wwwroot/img/ecosistemas
/Obligatorio_P3/WebApp/wwwroot/img/especies
